/*Variables used in many places*/
:root{
    --boder_space:1px;
    --var_opac:0.875;
    --content_width:1280px;
    --beef_color:#F69B88;
    --chicken_color:#F0D3A7;
    --drinks_color:#aed6f1;
    --snacks_color:#FAC5C4;
}

.beef { 
    background: var(--beef_color);
}

.chicken { 
    background: var(--chicken_color); ; 
}

.drinks { 
    background: var(--drinks_color);
}

.snacks { 
    background: var(--snacks_color);
}

h1{
    text-align:center; 
    color: black; 
    font-size: 36; 
    font-family: 'Pacifico', cursive;
}

h2{
    font-weight: bold;
    font-size: 28;
    display: none;
}

div {
    /*height: 100%;*/
    border: 0px;
    border-color: black;			
}

.pbody{
    font-family: 'Source Serif Pro', serif;
    background-image: url("bcg (3).jpg");
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    width: 100%;
}

/* Style the tab */
.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
    opacity: 0.5;
    text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    border: 1px;
    outline: none;
    cursor: pointer;
    padding: 4px 12px;
    transition: 0.3s;
    font-size: 24px;
    opacity: var(--var_opac);
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    opacity: var(--var_opac);
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
    opacity: var(--var_opac);
}

/* Style the tab content */
.tabcontent {
    display: none;
    height: 100%;
    opacity: var(--var_opac);
    /*width:calc(100% - var(--boder_space));
    margin-right: var(--boder_space);
    margin-left: var(--boder_space);*/
    height: auto;
    align-content: center;
    /*padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;*/
}

#beef { 
    display: block;
}

tr:nth-child(odd){background-color: rgba(0,0,0,0.1)}
tr:nth-child(even){background-color: rgba(255,255,255,0.1)}



@media (max-width: 1080px) {
    /* CSS that should be displayed if width is equal to or less than 1080px goes here */
    #beef { 
        width:calc(50% - var(--boder_space));
        height: auto;
        margin-right: var(--boder_space);
        margin-bottom: var(--boder_space);
        background: #F69B88 ; 
        float:left;
        opacity: var(--var_opac);
    }
    #chicken { 
        width:calc(50% - var(--boder_space));
        height: auto;
        margin-right: 0px;
        margin-bottom: var(--boder_space);
        background: #F0D3A7 ; 
        float:right; 
        opacity: var(--var_opac);
    }
    #snacks { 
        width:calc(50% - var(--boder_space)); 
        height: auto;
        /*margin-right: var(--boder_space);*/
        background:  #FAC5C4 ; 
        float:left; 
        opacity: var(--var_opac);
    }
    #drinks { 
        width:calc(50% - var(--boder_space)); 
        height: auto;
        margin-right: - var(--boder_space);
        background: #aed6f1;
        float:right;
        opacity: var(--var_opac);
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 1200px;
    border: 0px solid #ddd;
    margin: 0 auto;
}

th, td {
    border: none;
    text-align: left;
    padding: 6px;
    width: 1280px;
    margin: 0 auto;
}